In [2]:
import pandas as pd

# Replace 'your_file.csv' with the path to your CSV file
csv_file = 'E:\Major Project 2\IPL Player Performance Prediction\Final Players data.csv'

# Read the CSV file into a DataFrame
data = pd.read_csv(csv_file)

# Now you can work with 'df', which is your DataFrame
# data

# Accept input for two team IDs from the user
team1_id = "KKR"
team2_id = "GT"
players_team1 = data[data['Team ID']== team1_id]
players_team2 = data[data['Team ID']== team2_id]

# Concatenate the two DataFrames along columns (axis=1)
combined_df = pd.concat([players_team1, players_team2], axis=0)
# combined_df

# --------------------------------------------------------------------------------
# Group the combined DataFrame by player role
grouped_by_role = combined_df.groupby('Role')

# Access each group and store them in a dictionary
players_by_role = {}
for role, group in grouped_by_role:
    players_by_role[role] = group

# Now you have a dictionary where keys are player roles and values are DataFrames containing players belonging to each role
# You can access players by their roles like this:
batsmen = players_by_role.get('Batsman')
bowlers = players_by_role.get('Bowler')
all_rounders = players_by_role.get('AR')
wicket_keepers = players_by_role.get('WK')

# You can also iterate over the dictionary to access each group
# for role, group in players_by_role.items():
#     print("Players in role:", role)
#     print(group)

# --------------------------------------------------------------------------------

# Sort batsmen by 'next_SR' column
batsmen_sorted = batsmen.sort_values(by='next SR', ascending=False)

# Sort bowlers first by 'next_wickets', then by 'next_runs_given' column
bowlers_sorted = bowlers.sort_values(by=['next_wkts', 'next_runs_given'], ascending=[False, True])

# Sort wicket keepers by 'next_SR' column
wicket_keepers_sorted = wicket_keepers.sort_values(by='next SR', ascending=False)

# Sort all-rounders first by 'next_SR', then by 'next_wickets' column
all_rounders_sorted = all_rounders.sort_values(by=['next SR', 'next_wkts'], ascending=[False, False])

# --------------------------------------------------------------------------------
# Define the file paths for saving the CSV files
batsmen_csv_file = 'batsmen_sorted.csv'
bowlers_csv_file = 'bowlers_sorted.csv'
wicket_keepers_csv_file = 'wicket_keepers_sorted.csv'
all_rounders_csv_file = 'all_rounders_sorted.csv'

# # Export sorted batsmen dataframe to CSV
# batsmen_sorted.to_csv(batsmen_csv_file, index=False)

# # Export sorted bowlers dataframe to CSV
# bowlers_sorted.to_csv(bowlers_csv_file, index=False)

# # Export sorted wicket keepers dataframe to CSV
# wicket_keepers_sorted.to_csv(wicket_keepers_csv_file, index=False)

# # Export sorted all-rounders dataframe to CSV
# all_rounders_sorted.to_csv(all_rounders_csv_file, index=False)

# print("CSV files exported successfully.")

In [3]:
# Select top 3 batsmen
selected_batsmen = batsmen_sorted.head(3)

# Select top 3 bowlers
selected_bowlers = bowlers_sorted.head(3)

# Select top 3 all-rounders
selected_all_rounders = all_rounders_sorted.head(3)

# Select top 2 wicket keepers
selected_wicket_keepers = wicket_keepers_sorted.head(2)

# Concatenate all selected players into one dataframe
selected_players = pd.concat([selected_batsmen, selected_bowlers, selected_all_rounders, selected_wicket_keepers])

# Display the selected players
selected_players

,Player,Match,Team ID,Role,Runs Scored,Balls Played,Out,Bat SR,50,100,...,next_runs_ll_95,next_runs_ul_95,next_balls_ll_95,next_balls_ul_95,next_overs_ll_95,next_overs_ul_95,next_runs_given_ll_95,next_runs_given_ul_95,next_wkts_ll_95,next_wkts_ul_95
1,RK Singh,smat2022_113,KKR,Batsman,79,47,1,168.1,1,0,...,24,38,12,21,0,0,0,0,0,0
0,N Rana,smat2022_131,KKR,Batsman,10,14,1,71.4,0,0,...,16,25,12,18,0,1,5,7,1,1
104,Shubman Gill,smat2022_134,GT,Batsman,45,32,1,140.6,0,0,...,24,35,20,27,0,0,0,0,0,0
108,Noor Ahmad,t100m2022_01,GT,Bowler,9,4,0,225.0,0,0,...,3,5,4,6,0,1,16,20,3,3
5,CV Varun,tnpl2022_29,KKR,Bowler,0,0,0,0.0,0,0,...,0,2,1,2,0,1,16,21,3,4
106,Mohammed Shami,ipl2023_62,GT,Bowler,0,1,1,0.0,0,0,...,3,4,2,3,1,1,24,28,3,4
8,AD Russell,t100m2022_21,KKR,AR,17,17,1,100.0,0,0,...,15,21,10,13,1,1,21,24,2,2
9,SP Narine,t20blast2022_127,KKR,AR,0,1,1,0.0,0,0,...,10,14,7,9,1,1,26,28,4,4
112,V Shankar,tnpl2021_26,GT,AR,47,40,1,117.5,0,0,...,17,25,12,17,0,0,11,16,1,2
3,Rahmanullah Gurbaz,scl2020_19,KKR,WK,4,3,1,133.3,0,0,...,18,28,13,18,0,0,0,0,0,0
105,WP Saha,smat2022_086,GT,WK,1,3,1,33.3,0,0,...,7,18,9,16,0,0,0,0,0,0